<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
         <title>Soundify</title>
    </head>
    <body>
        <div class="center">
            <div class="recent-searches">Recent Searches</div>
        </div>
        
        <div class="side-bar">
            <img src="/static/images/logo.png">
            <div class="options">
                <a href="/search">Search</a> 
                <a href="/history">History</a>
                <a href="/settings">Settings</a>
            </div>
        </div>
        <div class="friend-activity-box">
            <div class="friend-activity-text">Friend Activity</div>
        </div>
    </body>
</html>