<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/search.css')}}">
         <title>Soundify</title>
    </head>
    <body>
        <div class="back-button">
            <a href="/home"><img src="/static/images/back-button.png"></a>
        </div>
        <div class="search-area">
            <div class="outer-search-box">
                <div class="row">
                    <div class="enter-song">SEARCH SONG</div>
                </div>
                <div class="row">
                    <div class="inner-search-box">
                        <form action="/results" method="POST">
                            <div class="input-field">
                                <input type ="text" id = "song" name="song-title">
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        
        
    </body>
</html>