<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/settings.css')}}">
         <title>Soundify</title>
    </head>
    <body>
        <div class="back-button">
            <a href="/home"><img src="/static/images/back-button.png"></a>
        </div>
        <div class="title-area">
            <div class="title-box">
                <div class="title">Settings</div>
            </div>
        </div>
        <div class="settings-boxes">
            <div class="box">
                <form action="/delete_account" method="POST">
                    <div class="input-field">
                        <input type ="text" id = "target" name="target">
                    </div>
                    <button type = "submit">Delete Account</button>
                
            </div>
        </div>
    </body>
</html>