<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" type="text/css" href="/static/styles/settings.css">
         <title>Soundify</title>
    </head>
    <body>
        <div class="title-area">
            <div class="title-box">
                <div class="title">Settings</div>
            </div>
        </div>
        <div class="settings-boxes">
            <div class="box"></div>

            <div class="back-button">
                <a href="/home"><img src="/static/images/back-button.png"></a>

        </div>
    </body>
</html>