<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" type="text/css" href="../styles/signup.css">
         <title>Soundify</title>
    </head>
    <body>
        <div class="Sign-up-box">
            
        </div>
        <div class="sign-in">Sign In
        </div>
        <div class="username-box">
        </div>
        <div class="username">Username
        </div>
        <div class="password-box">
        </div>
        <div class="password">Password
        </div>
    </body>
</html>