<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" type="text/css" href="/static/styles/sign-in.css">
         <title>Soundify</title>
    </head>
    <body>
        <div class="Sign-in-box">
            <div class="row">
                <div class="sign-in">
                    Sign Up
                </div>
            </div>
            
            <div class="row">
                <div class="box">
                    <form action="/home" method="POST">
                        <div class="input-field">
                            <input type ="text" id = "sign-up-username" name="sign-up-username">
                        </div>
                    </form>
                </div>
            </div>

            
            <div class="row">
                <div class="box">
                    <form action="/home" method="POST">
                        <div class="input-field">
                            <input type ="text" id = "sign-up-password" name="sign-up-password">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <a href="/">Sign In</a>
            </div>

            
        </div>
        
    </body>
</html>