/* MacBook Pro 16" - 1 */
body{
    width: 100vw;
    height: 100vh;
    
    background: linear-gradient(180deg, #DC0D0D 0%, #000000 79.59%);
}

.title-area{
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* Rectangle 1 */
.title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 567px;
    height: 77px;
    
    background: #000000;
    border-radius: 90px;
    
    
}

/* SEARCH HISTORY */
.page-title{
    width: 443px;
    height: 61px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */
    text-align: center;
    
    color: #FFFFFF;
}

/* Ellipse 1 */
.back-button{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 19px;
    top: 14px;  
}