/* Home */
body{
    display: flex;
    margin: 0px;
}

.center{
    /* Rectangle 1 */
    box-sizing: border-box;

    width: 65vw;
    height: 100vh;
    left: 284px;
    top: 0px;

    background: linear-gradient(360deg, #0B0C0C 72.27%, rgba(39, 185, 185) 144.98%);
}

.recent-searches{
    align-content: center;
    height: 61px;
    top: 44px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;

    text-align: center;

    color: #FFFFFF;
}



/* Side Bar */
.side-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(0deg, #000000, #000000), linear-gradient(0deg, #000000, #000000), #000000;    
}

/* Search */
.options{
    justify-content: center;
    width: 10vw;
    height: auto;
    left: 4px;
    top: 253px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 61px;
    text-align: center;
    
    color: #FFFFFF;
}

.options a{
    color: #FFFFFF;
    text-decoration: none;
}

/* Logo */
img{
    position: absolute;
    top: 2vh;
    left: 3vw;
    width: 10vw;
}


/* Friend Activity */
.friend-activity-box{
    width: 23vw;
    height: 100vh;
    left: 80vw;
    top: 0px;
    
    background: linear-gradient(0deg, #000000, #000000), linear-gradient(0deg, #000000, #000000), #000000;
}

.friend-activity-text{
    width: auto;
    height: auto;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 37px;
    text-align: center;
    
    color: #FFFFFF;    
}

