/* MacBook Pro 16" - 2 */
body{
    width: 100vw;
    height: 100vh;
    
    background: linear-gradient(180deg, #9D0E64 0%, #000000 79.59%);
}

.title-area{
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* Rectangle 3 */
.title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 449px;
    height: 112px;
    
    background: #000000;
    border-radius: 90px;
}

/* RESULTS */
.results-title{
    width: 223px;
    height: 61px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */
    text-align: center;
    
    color: #FFFFFF;
}

.back-button{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 19px;
    top: 14px;
}

.song-area{
    width: 100vw;
    height: 96vh;
    display: flex;
    justify-content: center;
}
.line{
    width: 40vw;
    height: 70vh;
    background: #ffffff;
    margin: 10px;

}

.song{
    margin-top: 41px;
    margin-bottom: 41px;
    margin-left: 15px;
    margin-right: 15px;
}

.song a{
    text-decoration: none;
    color: #000000;
}
